body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.left h1 {
    color: #1877f2;
    font-size: 48px;
    margin-bottom: 10px;
}

.left p {
    font-size: 18px;
    max-width: 350px;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login {
    width: 100%;
    padding: 10px;
    background: #1877f2;
    color: white;
    border: none;
    font-size: 16px;
}

.card a {
    display: block;
    margin: 10px 0;
    color: #1877f2;
    text-decoration: none;
}

.create {
    padding: 10px;
    background: #42b72a;
    color: white;
    border: none;
}

.small {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
