.categories button {
  padding: 10px 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  transition: 0.3s;
}

.categories button:hover {
  background-color: #007bff;
  color: white;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
