.card {
  width: 260px;
  padding: 15px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}
